@model PetShop.Data.Pet

@{
    ViewData["Title"] = "Thông tin đơn hàng";
    var format = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
}
@section breadcrum{
    <div class="bg-light py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-0"><i class="fa fa-home pr-1"></i><a class="text-decoration-none" asp-action="Index" asp-controller="Home">Trang Chủ</a> <span class="mx-2 mb-0">/</span> <i class="fas fa-paw pr-1"></i><a class="text-decoration-none" asp-action="ThuCung" asp-controller="Home">Thú Cưng</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">@Model.ThuCung</strong></div>
            </div>
        </div>
    </div>
}

<div class="site-section mt-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="@Model.ProfilePicture" alt="@Model.ThuCung" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h2 class="text-black">@Model.ThuCung</h2>
                <p><b>Giống Loài:</b> @Model.GiongLoai</p>
                <p class="mb-4"><b>Giới Tính:</b> @Model.GioiTinh</p>

                <p>
                    <strong class="text-primary h4">
                        @String.Format(format, "{0:c0}", Model.Gia)
                    </strong>
                </p>
                <p>
                    <div class="">
                        <div class="center text-warning"> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> </div>
                    </div>
                </p>
                <form id="@Model.Id" asp-page="/MyCart" method="post">
                    <div class="mb-5">
                        <div class="input-group mb-3" style="max-width: 120px;">
                            <input type="hidden" asp-for="Id" />
                            <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                            <button type="submit" class="btn btn-success float-right store-btn">
                                <i class="fas fa-shopping-cart"></i> Mua
                            </button>
                            </div>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>