@page
@model MyCartModel
@{
    var format = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
}

<h2>Giỏ hàng</h2>
<table class="table table-bordered">
    <thead class="thead-light">
        <tr>
            <th>Số Lượng</th>
            <th>Sản phẩm</th>
            <th class="text-right">Giá</th>
            <th class="text-right">Tổng cộng</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.myCart.Lines)
        {
        <tr>
            <td class="text-center">@line.Quantity</td>
            <td class="text-left">@line.Pet.ThuCung</td>
            <td class="text-right">@String.Format(format, "{0:c0}", line.Pet.Gia)</td>
            <td class="text-right">
                @String.Format(format, "{0:c0}", ((line.Quantity * line.Pet.Gia)))
            </td>
        </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Tổng cộng: </td>
            <td class="text-right">
                @String.Format(format, "{0:c0}",Model.myCart.ComputeTotalValue())
            </td>
        </tr>
    </tfoot>
</table>
<div class="text-center">
    <a class="btn btn-info" href="@Model.ReturnUrl">Mua thêm</a>
</div>